<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.innobl.notice.mapper.NoticeMapper">
    <select id="getAllNotices" resultType="org.innobl.notice.beans.Notice">
        select * from notice.noticeboard
    </select>

    <insert id="writeNotice" parameterType="org.innobl.notice.beans.Notice">
        INSERT INTO notice.noticeboard (
            nb_title,
            nb_content,
            writer,
            regdate,
            fixed
        ) VALUES (
            #{nb_title},
            #{nb_content},
            #{writer},
            date_trunc('second', current_timestamp),
            #{fixed}
        )
    </insert>

    <delete id="deleteNotice" parameterType="Integer">
        delete from notice.noticeboard where nbno = #{nbno}
    </delete>

    <select id="getNoticesWithPaging" parameterType="org.innobl.commons.Pagination" resultType="org.innobl.notice.beans.Notice">
        SELECT * FROM notice.noticeboard
        ORDER BY nbno DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


</mapper>