<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.innobl.notice.mapper.NoticeMapper">
    <select id="getAllNotices" resultType="org.innobl.notice.beans.Notice">
        select * from noticeboard
    </select>

    <insert id="writeNotice" parameterType="org.innobl.notice.beans.Notice">
        INSERT INTO noticeboard (
            nb_title,
            nb_content,
            writer,
            regdate,
            fixed
        ) VALUES (
            COALESCE(#{nb_title},'제목을 입력해주세요.'),
            COALESCE(#{nb_content},'내용을 입력해주세요.'),
            COALESCE(#{writer},'익명'),
            (date_trunc('second', current_timestamp) AT TIME ZONE 'UTC'),
            COALESCE(#{fixed}, 100)
        )
    </insert>

    <delete id="deleteNotice" parameterType="Integer">
        delete from noticeboard where nbno = #{nbno}
    </delete>

    <select id="getNoticesWithPaging" parameterType="org.innobl.commons.Pagination" resultType="org.innobl.notice.beans.Notice">
        SELECT * FROM noticeboard
        ORDER BY
        CASE WHEN fixed = '200' THEN 0 ELSE 1 END,
        nbno DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getFixedNotices" resultType="org.innobl.notice.beans.Notice">
        SELECT
            nbno,
            nb_title,
            nb_content,
            writer,
            regDate,
            modDate
        FROM noticeboard
        WHERE fixed ='200';
    </select>

    <select id="getNoneFixedNotices" resultType="org.innobl.notice.beans.Notice">
        SELECT
            nbno,
            nb_title,
            nb_content,
            writer,
            regDate,
            modDate
        FROM noticeboard
        WHERE fixed !='200'
        ORDER BY nbno DESC
        LIMIT #{LIMIT}
        OFFSET #{OFFSET};
    </select>

    <select id="getNotice" resultType="org.innobl.notice.beans.Notice">
        SELECT
            nbno,
            fixed,
            nb_title,
            nb_content,
            writer,
            regDate,
            modDate
        FROM noticeboard
        WHERE nbno = #{nbno}
    </select>

    <update id="editFixedNotice">
        UPDATE noticeboard
            SET fixed = '200'
        WHERE nbno = #{nbno}
    </update>
</mapper>