{{>common/header}}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/java-web/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <div class="site-heading">
                    <h1>INNOBL Project #3</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
                <table class="table table-striped">
                    <tr>
                        <th>타입</th>
                        <th>글제목</th>
                        <th>글쓴이</th>
                        <th>등록일</th>
                    </tr>
                    {{#fixedNotice}}
                    <tr>
                        <td>공지</td>
                        <td> <a href="/notice/detail/{{nbno}}">{{nb_title}} </a></td>
                        <td>{{writer}}</td>
                        <td>{{regDate}}</td>
                    </tr>
                    {{/fixedNotice}}
                </table>

                    {{#nfixedNotice}}
                        <table>
                            <tr>
                                <td colspan="2"><a href="/notice/detail/{{nbno}}"><h2>{{nb_title}}</h2></a></td>
                            </tr>
                            <tr>
                                <td colspan="2"><h6>{{nb_content}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6>{{writer}}</h6></td>
                                <td><h6>{{regDate}}</h6></td>
                            </tr>
                        </table>
                    <hr/>
                    {{/nfixedNotice}}
            
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        window.open("/popup/d-notice", "a", "width=400, height=300, left=100, top=50");
    });
</script>
{{>common/footer}}