{{>common/header}}

<!-- Page Header-->
<header class="masthead" style="background-image: url('https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/java-web/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <div class="site-heading">
                    <h1>INNOBL Project #3</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="search-box">
                    <table class="table table-striped">
                        <tr>
                            <td style="font-weight: bold;">등록일</td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input class="form-control" type="date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="from">~</span>
                                    </div>
                                    <input class="form-control" type="date" id="to" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">이름</td>
                            <td>
                                <input class="form-control form-control-sm" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">글 제목</td>
                            <td>
                                <input class="form-control form-control-sm" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">타입</td>
                            <td>
                                <label class="radio-inline">
                                    고정
                                    <input class="form-check-input" type="radio" name="fixed" />
                                </label>
                                <label class="radio-inline">
                                    전체
                                    <input class="form-check-input" type="radio" name="fixed" />
                                </label>
                            </td>
                        </tr>
                    </table>
                <button type="button" onclick="getSearchResult()">검색</button>
            </div>
                <table class="table table-striped">
                    <tr>
                        <th>타입</th>
                        <th>글제목</th>
                        <th>글쓴이</th>
                        <th>등록일</th>
                    </tr>
                    {{#fixedNotice}}
                    <tr>
                        <td>공지</td>
                        <td> <a href="/nb/detail/{{nbno}}">{{nb_title}} </a></td>
                        <td>{{writer}}</td>
                        <td>{{regDate}}</td>
                    </tr>
                    {{/fixedNotice}}
                </table>

                    <div id="nfixedNotice">
                    
                    </div>
            
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        window.open("/popup/daily", "a", "width=400, height=300, left=100, top=50");

      
    });
      function getSearchResult() {
            var fromDate = $(".form-control[type='date']:first").val();  // 첫 번째 날짜 입력 필드
            var toDate = $("#to").val();  // 두 번째 날짜 입력 필드 (id가 'to')

             if (fromDate && toDate) {
                $.ajax({
                    url: '/nb/search/' + fromDate + '/' + toDate,  // URL 수정
                    method: 'GET',
          			dataType:'json',
                    success: function(data) {
                       var html = '';
                        $.each(data, function(index, item){
                            html += '<table>';
                            html += '<tr><td colspan="2"><a href="/nb/detail/' + item.nbno + '"><h2>' + item.nb_title + '</h2></a></td></tr>';
                            html += '<tr><td colspan="2"><h6>' + item.nb_content + '</h6></td></tr>';
                            html += '<tr><td><h6>' + item.writer + '</h6></td><td><h6>' + item.regDate + '</h6></td></tr>';
                            html += '</table><hr/>';
                        });

                         $('#nfixedNotice').html(html);
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            } else {
                console.log("Both dates must be filled.");
            }
        }
</script>
{{>common/footer}}